<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DCRoundSwitchLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Milly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cocos2dLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75046DC21775AD1D0019D337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75092C881751591100811B8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75262F941774B40100FAF9AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>752631261774B42700FAF9AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>752631361774B44B00FAF9AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>752631461774B66500FAF9AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>752632DA1774B8D400FAF9AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>752635E61774CCE900FAF9AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75826CDB1770746000DE72AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75E91A0F1774D40000E34F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75E91D391774DD8F00E34F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75E920461774E49400E34F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75E92D1C1774F6E600E34F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75EAB8C01782901F0086D0C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
