<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>afterNameID</key>
		<integer>0</integer>
		<key>afterName</key>
		<string></string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>1</integer>
		<key>afterName</key>
		<string> オブキング </string>
		<key>baseAttack</key>
		<integer>10</integer>
		<key>baseDefence</key>
		<integer>10</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>2</integer>
		<key>afterName</key>
		<string> ジ・エンド </string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>30</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>3</integer>
		<key>afterName</key>
		<string> ララバイ</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>-20</integer>
		<key>dark</key>
		<integer>30</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>4</integer>
		<key>afterName</key>
		<string> シングルママ</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>-20</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>30</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>5</integer>
		<key>afterName</key>
		<string> レッツパーリィ！ </string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>-10</integer>
		<key>fire</key>
		<integer>20</integer>
		<key>freeze</key>
		<integer>20</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>6</integer>
		<key>afterName</key>
		<string> ザ・鉄壁 </string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>20</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>7</integer>
		<key>afterName</key>
		<string>自宅警備員</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>10</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>8</integer>
		<key>afterName</key>
		<string>ギザワロス</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>9</integer>
		<key>afterName</key>
		<string>暗殺屋</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>5</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>10</integer>
		<key>afterName</key>
		<string>ザ・レインボー</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>10</integer>
		<key>fire</key>
		<integer>10</integer>
		<key>freeze</key>
		<integer>10</integer>
		<key>holy</key>
		<integer>10</integer>
		<key>dark</key>
		<integer>10</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>11</integer>
		<key>afterName</key>
		<string>吸血鬼信者</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>-10</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>5</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>12</integer>
		<key>afterName</key>
		<string>アタッカー</string>
		<key>baseAttack</key>
		<integer>10</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>13</integer>
		<key>afterName</key>
		<string>ザ・ウィング</string>
		<key>baseAttack</key>
		<integer>10</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>10</integer>
		<key>dropTable</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>14</integer>
		<key>afterName</key>
		<string>の遠吠え</string>
		<key>baseAttack</key>
		<integer>10</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>10</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>5</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>15</integer>
		<key>afterName</key>
		<string>の反逆</string>
		<key>baseAttack</key>
		<integer>10</integer>
		<key>baseDefence</key>
		<integer>10</integer>
		<key>physical</key>
		<integer>-10</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>16</integer>
		<key>afterName</key>
		<string>アウトバーン</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>-10</integer>
		<key>freeze</key>
		<integer>10</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>10</integer>
		<key>dropTable</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>17</integer>
		<key>afterName</key>
		<string>炎熱地獄</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>15</integer>
		<key>freeze</key>
		<integer>-15</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>5</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>18</integer>
		<key>afterName</key>
		<string>氷魔</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>-15</integer>
		<key>freeze</key>
		<integer>15</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>19</integer>
		<key>afterName</key>
		<string>の失敗作</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>-20</integer>
		<key>fire</key>
		<integer>-5</integer>
		<key>freeze</key>
		<integer>-5</integer>
		<key>holy</key>
		<integer>-5</integer>
		<key>dark</key>
		<integer>-5</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>20</integer>
		<key>afterName</key>
		<string>の怒り</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>15</integer>
		<key>fire</key>
		<integer>-5</integer>
		<key>freeze</key>
		<integer>-5</integer>
		<key>holy</key>
		<integer>-5</integer>
		<key>dark</key>
		<integer>-5</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>5</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>21</integer>
		<key>afterName</key>
		<string>ザ・ヘイト</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>10</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>5</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>22</integer>
		<key>afterName</key>
		<string>ザ・ヴァルキリィ</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>15</integer>
		<key>dark</key>
		<integer>-10</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>23</integer>
		<key>afterName</key>
		<string>の歌</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>10</integer>
		<key>fire</key>
		<integer>10</integer>
		<key>freeze</key>
		<integer>10</integer>
		<key>holy</key>
		<integer>10</integer>
		<key>dark</key>
		<integer>10</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>24</integer>
		<key>afterName</key>
		<string>の呼び声</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>-10</integer>
		<key>dark</key>
		<integer>15</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>25</integer>
		<key>afterName</key>
		<string>の消滅</string>
		<key>baseAttack</key>
		<integer>15</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>10</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>10</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>26</integer>
		<key>afterName</key>
		<string>の憂鬱</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>15</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>10</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>27</integer>
		<key>afterName</key>
		<string>の息吹</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>10</integer>
		<key>fire</key>
		<integer>10</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>3</integer>
		<key>critical</key>
		<integer>5</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>28</integer>
		<key>afterName</key>
		<string>ザ・トマト</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>15</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>15</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>29</integer>
		<key>afterName</key>
		<string>の破戒</string>
		<key>baseAttack</key>
		<integer>20</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>20</integer>
		<key>fire</key>
		<integer>-10</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>-10</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>30</integer>
		<key>afterName</key>
		<string>の栄光</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>15</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>15</integer>
		<key>dark</key>
		<integer>-10</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>31</integer>
		<key>afterName</key>
		<string>ザ・ブレード</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>15</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>32</integer>
		<key>afterName</key>
		<string>ザ・フェイム</string>
		<key>baseAttack</key>
		<integer>15</integer>
		<key>baseDefence</key>
		<integer>15</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>33</integer>
		<key>afterName</key>
		<string>ザ・エレファント</string>
		<key>baseAttack</key>
		<integer>20</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>20</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>10</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>34</integer>
		<key>afterName</key>
		<string>の反撃</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>15</integer>
		<key>avoid</key>
		<integer>15</integer>
		<key>dropTable</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>35</integer>
		<key>afterName</key>
		<string>の勝利</string>
		<key>baseAttack</key>
		<integer>10</integer>
		<key>baseDefence</key>
		<integer>10</integer>
		<key>physical</key>
		<integer>10</integer>
		<key>fire</key>
		<integer>10</integer>
		<key>freeze</key>
		<integer>10</integer>
		<key>holy</key>
		<integer>10</integer>
		<key>dark</key>
		<integer>10</integer>
		<key>leech</key>
		<integer>10</integer>
		<key>critical</key>
		<integer>10</integer>
		<key>avoid</key>
		<integer>10</integer>
		<key>dropTable</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>36</integer>
		<key>afterName</key>
		<string>のこころ</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>20</integer>
		<key>freeze</key>
		<integer>20</integer>
		<key>holy</key>
		<integer>10</integer>
		<key>dark</key>
		<integer>10</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>5</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>37</integer>
		<key>afterName</key>
		<string>の恨み</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>10</integer>
		<key>freeze</key>
		<integer>10</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>20</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>15</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>38</integer>
		<key>afterName</key>
		<string>の少年</string>
		<key>baseAttack</key>
		<integer>20</integer>
		<key>baseDefence</key>
		<integer>20</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>15</integer>
		<key>dropTable</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>39</integer>
		<key>afterName</key>
		<string>の祈り</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>20</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>20</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>3</integer>
		<key>critical</key>
		<integer>10</integer>
		<key>avoid</key>
		<integer>10</integer>
		<key>dropTable</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>afterNameID</key>
		<integer>40</integer>
		<key>afterName</key>
		<string>の栄光</string>
		<key>baseAttack</key>
		<integer>20</integer>
		<key>baseDefence</key>
		<integer>20</integer>
		<key>physical</key>
		<integer>20</integer>
		<key>fire</key>
		<integer>20</integer>
		<key>freeze</key>
		<integer>20</integer>
		<key>holy</key>
		<integer>20</integer>
		<key>dark</key>
		<integer>20</integer>
		<key>leech</key>
		<integer>7</integer>
		<key>critical</key>
		<integer>15</integer>
		<key>avoid</key>
		<integer>15</integer>
		<key>dropTable</key>
		<integer>7</integer>
	</dict>
</array>
</plist>
