<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>preNameID</key>
		<integer>0</integer>
		<key>preName</key>
		<string></string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>1</integer>
		<key>preName</key>
		<string>守護者の</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>10</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>2</integer>
		<key>preName</key>
		<string>隼舞う</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>-10</integer>
		<key>fire</key>
		<integer>5</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>10</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>3</integer>
		<key>preName</key>
		<string>炎の</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>10</integer>
		<key>freeze</key>
		<integer>-10</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>4</integer>
		<key>preName</key>
		<string>氷の</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>-10</integer>
		<key>freeze</key>
		<integer>10</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>5</integer>
		<key>preName</key>
		<string>聖なる</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>10</integer>
		<key>dark</key>
		<integer>-10</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>6</integer>
		<key>preName</key>
		<string>全知全能の</string>
		<key>baseAttack</key>
		<integer>30</integer>
		<key>baseDefence</key>
		<integer>30</integer>
		<key>physicalPower</key>
		<integer>20</integer>
		<key>fire</key>
		<integer>20</integer>
		<key>freeze</key>
		<integer>20</integer>
		<key>holy</key>
		<integer>20</integer>
		<key>dark</key>
		<integer>20</integer>
		<key>leech</key>
		<integer>3</integer>
		<key>critical</key>
		<integer>10</integer>
		<key>avoid</key>
		<integer>10</integer>
		<key>dropTable</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>7</integer>
		<key>preName</key>
		<string>力強い</string>
		<key>baseAttack</key>
		<integer>10</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>10</integer>
		<key>fire</key>
		<integer>-5</integer>
		<key>freeze</key>
		<integer>-5</integer>
		<key>holy</key>
		<integer>-5</integer>
		<key>dark</key>
		<integer>-5</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>8</integer>
		<key>preName</key>
		<string>暗黒の</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>-10</integer>
		<key>dark</key>
		<integer>10</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>9</integer>
		<key>preName</key>
		<string>血を吸う</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>3</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>10</integer>
		<key>preName</key>
		<string>凍れる炎の</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>-10</integer>
		<key>fire</key>
		<integer>10</integer>
		<key>freeze</key>
		<integer>10</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>11</integer>
		<key>preName</key>
		<string>エンジェリック</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>15</integer>
		<key>dark</key>
		<integer>-15</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>10</integer>
		<key>dropTable</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>12</integer>
		<key>preName</key>
		<string>透明の</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>10</integer>
		<key>dropTable</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>13</integer>
		<key>preName</key>
		<string>やみくろ</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>-15</integer>
		<key>dark</key>
		<integer>15</integer>
		<key>leech</key>
		<integer>3</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>14</integer>
		<key>preName</key>
		<string>怒りの</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>10</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>10</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>15</integer>
		<key>preName</key>
		<string>溶け出す</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>15</integer>
		<key>freeze</key>
		<integer>-15</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>16</integer>
		<key>preName</key>
		<string>氷炎地獄の</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>-15</integer>
		<key>fire</key>
		<integer>15</integer>
		<key>freeze</key>
		<integer>15</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>17</integer>
		<key>preName</key>
		<string>王たる</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>10</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>15</integer>
		<key>dark</key>
		<integer>-15</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>18</integer>
		<key>preName</key>
		<string>不死者の</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>15</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>5</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>19</integer>
		<key>preName</key>
		<string>マッスル</string>
		<key>baseAttack</key>
		<integer>15</integer>
		<key>baseDefence</key>
		<integer>15</integer>
		<key>physical</key>
		<integer>15</integer>
		<key>fire</key>
		<integer>-10</integer>
		<key>freeze</key>
		<integer>-10</integer>
		<key>holy</key>
		<integer>-10</integer>
		<key>dark</key>
		<integer>-10</integer>
		<key>leech</key>
		<integer>-10</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>20</integer>
		<key>preName</key>
		<string>皇帝の</string>
		<key>baseAttack</key>
		<integer>15</integer>
		<key>baseDefence</key>
		<integer>15</integer>
		<key>physical</key>
		<integer>15</integer>
		<key>fire</key>
		<integer>10</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>20</integer>
		<key>dark</key>
		<integer>-20</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>21</integer>
		<key>preName</key>
		<string>師範代の</string>
		<key>baseAttack</key>
		<integer>20</integer>
		<key>baseDefence</key>
		<integer>10</integer>
		<key>physical</key>
		<integer>20</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>10</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>22</integer>
		<key>preName</key>
		<string>脈打つ</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>3</integer>
		<key>critical</key>
		<integer>5</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>23</integer>
		<key>preName</key>
		<string>時を止める</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>15</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>25</integer>
		<key>holy</key>
		<integer>-15</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>3</integer>
		<key>critical</key>
		<integer>5</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>24</integer>
		<key>preName</key>
		<string>親愛なる</string>
		<key>baseAttack</key>
		<integer>15</integer>
		<key>baseDefence</key>
		<integer>10</integer>
		<key>physical</key>
		<integer>10</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>10</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>5</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>25</integer>
		<key>preName</key>
		<string>ぼくらの</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>25</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>26</integer>
		<key>preName</key>
		<string>戦う</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>20</integer>
		<key>fire</key>
		<integer>5</integer>
		<key>freeze</key>
		<integer>5</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>27</integer>
		<key>preName</key>
		<string>生存する</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>20</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>28</integer>
		<key>preName</key>
		<string>消えない</string>
		<key>baseAttack</key>
		<integer>20</integer>
		<key>baseDefence</key>
		<integer>20</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>3</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>29</integer>
		<key>preName</key>
		<string>激震の</string>
		<key>baseAttack</key>
		<integer>30</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>25</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>-15</integer>
		<key>dark</key>
		<integer>-15</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>30</integer>
		<key>preName</key>
		<string>抹殺する</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>15</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>31</integer>
		<key>preName</key>
		<string>竜の</string>
		<key>baseAttack</key>
		<integer>20</integer>
		<key>baseDefence</key>
		<integer>20</integer>
		<key>physical</key>
		<integer>15</integer>
		<key>fire</key>
		<integer>15</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>15</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>32</integer>
		<key>preName</key>
		<string>生命の</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>15</integer>
		<key>dark</key>
		<integer>-20</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>10</integer>
		<key>dropTable</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>33</integer>
		<key>preName</key>
		<string>生きている</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>25</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>20</integer>
		<key>dark</key>
		<integer>-10</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>34</integer>
		<key>preName</key>
		<string>疾風の</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>15</integer>
		<key>avoid</key>
		<integer>15</integer>
		<key>dropTable</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>35</integer>
		<key>preName</key>
		<string>燃え盛る</string>
		<key>baseAttack</key>
		<integer>20</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>25</integer>
		<key>freeze</key>
		<integer>-25</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>36</integer>
		<key>preName</key>
		<string>凍り付く</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>-25</integer>
		<key>freeze</key>
		<integer>25</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>37</integer>
		<key>preName</key>
		<string>覆い隠す</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>20</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>38</integer>
		<key>preName</key>
		<string>止まらない</string>
		<key>baseAttack</key>
		<integer>20</integer>
		<key>baseDefence</key>
		<integer>20</integer>
		<key>physical</key>
		<integer>20</integer>
		<key>fire</key>
		<integer>20</integer>
		<key>freeze</key>
		<integer>20</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>3</integer>
		<key>critical</key>
		<integer>10</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>39</integer>
		<key>preName</key>
		<string>風神の</string>
		<key>baseAttack</key>
		<integer>50</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>30</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>5</integer>
		<key>critical</key>
		<integer>15</integer>
		<key>avoid</key>
		<integer>15</integer>
		<key>dropTable</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>40</integer>
		<key>preName</key>
		<string>雷神の</string>
		<key>baseAttack</key>
		<integer>30</integer>
		<key>baseDefence</key>
		<integer>30</integer>
		<key>physical</key>
		<integer>30</integer>
		<key>fire</key>
		<integer>15</integer>
		<key>freeze</key>
		<integer>15</integer>
		<key>holy</key>
		<integer>15</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>15</integer>
		<key>avoid</key>
		<integer>15</integer>
		<key>dropTable</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>41</integer>
		<key>preName</key>
		<string>燻る</string>
		<key>baseAttack</key>
		<integer>20</integer>
		<key>baseDefence</key>
		<integer>20</integer>
		<key>physical</key>
		<integer>15</integer>
		<key>fire</key>
		<integer>40</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>42</integer>
		<key>preName</key>
		<string>死の</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>40</integer>
		<key>leech</key>
		<integer>5</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>preNameID</key>
		<integer>43</integer>
		<key>preName</key>
		<string>破戒する</string>
		<key>baseAttack</key>
		<integer>30</integer>
		<key>baseDefence</key>
		<integer>30</integer>
		<key>physical</key>
		<integer>20</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>20</integer>
		<key>dark</key>
		<integer>20</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>10</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>7</integer>
	</dict>
</array>
</plist>
