<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemNameID</key>
		<integer>0</integer>
		<key>itemName</key>
		<string>スタッフ</string>
		<key>baseAttack</key>
		<integer>10</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>5</integer>
		<key>freeze</key>
		<integer>5</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>1</integer>
		<key>itemName</key>
		<string>短剣</string>
		<key>baseAttack</key>
		<integer>10</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>5</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>2</integer>
		<key>itemName</key>
		<string>帽子</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>3</integer>
		<key>itemName</key>
		<string>コート</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>10</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>4</integer>
		<key>itemName</key>
		<string>リング</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>5</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>5</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>5</integer>
		<key>itemName</key>
		<string>イヤリング</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>5</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>5</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>6</integer>
		<key>itemName</key>
		<string>ネックレス</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>5</integer>
		<key>freeze</key>
		<integer>5</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>7</integer>
		<key>itemName</key>
		<string>儀式用短剣</string>
		<key>baseAttack</key>
		<integer>15</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>5</integer>
		<key>fire</key>
		<integer>5</integer>
		<key>freeze</key>
		<integer>5</integer>
		<key>holy</key>
		<integer>5</integer>
		<key>dark</key>
		<integer>5</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>8</integer>
		<key>itemName</key>
		<string>水晶球</string>
		<key>baseAttack</key>
		<integer>10</integer>
		<key>baseDefence</key>
		<integer>10</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>10</integer>
		<key>holy</key>
		<integer>10</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>9</integer>
		<key>itemName</key>
		<string>法衣</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>15</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>15</integer>
		<key>dark</key>
		<integer>-10</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>10</integer>
		<key>dropTable</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>10</integer>
		<key>itemName</key>
		<string>サファイアリング</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>10</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>5</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>11</integer>
		<key>itemName</key>
		<string>ターコイズリング</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>10</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>12</integer>
		<key>itemName</key>
		<string>ダイヤモンドリング</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>10</integer>
		<key>dark</key>
		<integer>10</integer>
		<key>leech</key>
		<integer>3</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>13</integer>
		<key>itemName</key>
		<string>蛇の剣</string>
		<key>baseAttack</key>
		<integer>30</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>10</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>20</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>10</integer>
		<key>leech</key>
		<integer>3</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>14</integer>
		<key>itemName</key>
		<string>アーケインスタッフ</string>
		<key>baseAttack</key>
		<integer>25</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>15</integer>
		<key>freeze</key>
		<integer>15</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>10</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>10</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>15</integer>
		<key>itemName</key>
		<string>ウィスパースーツ</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>20</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>15</integer>
		<key>dark</key>
		<integer>15</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>16</integer>
		<key>itemName</key>
		<string>世紀末服</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>30</integer>
		<key>physical</key>
		<integer>15</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>-10</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>10</integer>
		<key>dropTable</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>17</integer>
		<key>itemName</key>
		<string>ゴーゴンイヤリング</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>15</integer>
		<key>holy</key>
		<integer>-10</integer>
		<key>dark</key>
		<integer>15</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>18</integer>
		<key>itemName</key>
		<string>罪人の剣</string>
		<key>baseAttack</key>
		<integer>35</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>-20</integer>
		<key>dark</key>
		<integer>20</integer>
		<key>leech</key>
		<integer>3</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>19</integer>
		<key>itemName</key>
		<string>守りのマント</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>35</integer>
		<key>physical</key>
		<integer>5</integer>
		<key>fire</key>
		<integer>5</integer>
		<key>freeze</key>
		<integer>5</integer>
		<key>holy</key>
		<integer>5</integer>
		<key>dark</key>
		<integer>5</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>20</integer>
		<key>itemName</key>
		<string>聖人の腕</string>
		<key>baseAttack</key>
		<integer>40</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>5</integer>
		<key>fire</key>
		<integer>5</integer>
		<key>freeze</key>
		<integer>5</integer>
		<key>holy</key>
		<integer>20</integer>
		<key>dark</key>
		<integer>-20</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>21</integer>
		<key>itemName</key>
		<string>ジュエルクラウン</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>15</integer>
		<key>physical</key>
		<integer>20</integer>
		<key>fire</key>
		<integer>-20</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>22</integer>
		<key>itemName</key>
		<string>エルフィンピアス</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>10</integer>
		<key>physical</key>
		<integer>-20</integer>
		<key>fire</key>
		<integer>15</integer>
		<key>freeze</key>
		<integer>15</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>5</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>23</integer>
		<key>itemName</key>
		<string>ノーデンスの杖</string>
		<key>baseAttack</key>
		<integer>50</integer>
		<key>baseDefence</key>
		<integer>10</integer>
		<key>physical</key>
		<integer>20</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>20</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>24</integer>
		<key>itemName</key>
		<string>ローブオブアビス</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>45</integer>
		<key>physical</key>
		<integer>-20</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>-10</integer>
		<key>dark</key>
		<integer>25</integer>
		<key>leech</key>
		<integer>3</integer>
		<key>critical</key>
		<integer>5</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>25</integer>
		<key>itemName</key>
		<string>ルルイエ写本</string>
		<key>baseAttack</key>
		<integer>35</integer>
		<key>baseDefence</key>
		<integer>-10</integer>
		<key>physical</key>
		<integer>10</integer>
		<key>fire</key>
		<integer>-10</integer>
		<key>freeze</key>
		<integer>25</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>20</integer>
		<key>leech</key>
		<integer>3</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>26</integer>
		<key>itemName</key>
		<string>騎士の紋章</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>20</integer>
		<key>physical</key>
		<integer>15</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>10</integer>
		<key>dark</key>
		<integer>-20</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>10</integer>
		<key>dropTable</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>27</integer>
		<key>itemName</key>
		<string>精霊のトーテム</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>15</integer>
		<key>freeze</key>
		<integer>15</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>28</integer>
		<key>itemName</key>
		<string>ファルシオン</string>
		<key>baseAttack</key>
		<integer>45</integer>
		<key>baseDefence</key>
		<integer>15</integer>
		<key>physical</key>
		<integer>10</integer>
		<key>fire</key>
		<integer>-30</integer>
		<key>freeze</key>
		<integer>30</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>10</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>29</integer>
		<key>itemName</key>
		<string>フレイムタン</string>
		<key>baseAttack</key>
		<integer>50</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>10</integer>
		<key>fire</key>
		<integer>30</integer>
		<key>freeze</key>
		<integer>-30</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>10</integer>
		<key>avoid</key>
		<integer>10</integer>
		<key>dropTable</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>30</integer>
		<key>itemName</key>
		<string>巫女服</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>60</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>0</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>30</integer>
		<key>dark</key>
		<integer>-30</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>10</integer>
		<key>dropTable</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>31</integer>
		<key>itemName</key>
		<string>デビルリング</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>20</integer>
		<key>freeze</key>
		<integer>0</integer>
		<key>holy</key>
		<integer>-20</integer>
		<key>dark</key>
		<integer>30</integer>
		<key>leech</key>
		<integer>3</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>32</integer>
		<key>itemName</key>
		<string>ビリーバンド</string>
		<key>baseAttack</key>
		<integer>30</integer>
		<key>baseDefence</key>
		<integer>30</integer>
		<key>physical</key>
		<integer>20</integer>
		<key>fire</key>
		<integer>-10</integer>
		<key>freeze</key>
		<integer>-10</integer>
		<key>holy</key>
		<integer>-10</integer>
		<key>dark</key>
		<integer>-10</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>33</integer>
		<key>itemName</key>
		<string>星の杖</string>
		<key>baseAttack</key>
		<integer>70</integer>
		<key>baseDefence</key>
		<integer>15</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>10</integer>
		<key>freeze</key>
		<integer>10</integer>
		<key>holy</key>
		<integer>20</integer>
		<key>dark</key>
		<integer>-10</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>5</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>34</integer>
		<key>itemName</key>
		<string>水の羽衣</string>
		<key>baseAttack</key>
		<integer>10</integer>
		<key>baseDefence</key>
		<integer>60</integer>
		<key>physical</key>
		<integer>-15</integer>
		<key>fire</key>
		<integer>-30</integer>
		<key>freeze</key>
		<integer>30</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>15</integer>
		<key>dropTable</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>35</integer>
		<key>itemName</key>
		<string>サタンリング</string>
		<key>baseAttack</key>
		<integer>35</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>-10</integer>
		<key>freeze</key>
		<integer>-10</integer>
		<key>holy</key>
		<integer>35</integer>
		<key>dark</key>
		<integer>40</integer>
		<key>leech</key>
		<integer>5</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>36</integer>
		<key>itemName</key>
		<string>オカリナ</string>
		<key>baseAttack</key>
		<integer>15</integer>
		<key>baseDefence</key>
		<integer>15</integer>
		<key>physical</key>
		<integer>10</integer>
		<key>fire</key>
		<integer>15</integer>
		<key>freeze</key>
		<integer>10</integer>
		<key>holy</key>
		<integer>15</integer>
		<key>dark</key>
		<integer>10</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>37</integer>
		<key>itemName</key>
		<string>情熱のピアス</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>15</integer>
		<key>fire</key>
		<integer>35</integer>
		<key>freeze</key>
		<integer>-35</integer>
		<key>holy</key>
		<integer>10</integer>
		<key>dark</key>
		<integer>0</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>10</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>38</integer>
		<key>itemName</key>
		<string>時の剣</string>
		<key>baseAttack</key>
		<integer>80</integer>
		<key>baseDefence</key>
		<integer>20</integer>
		<key>physical</key>
		<integer>20</integer>
		<key>fire</key>
		<integer>30</integer>
		<key>freeze</key>
		<integer>30</integer>
		<key>holy</key>
		<integer>20</integer>
		<key>dark</key>
		<integer>10</integer>
		<key>leech</key>
		<integer>0</integer>
		<key>critical</key>
		<integer>15</integer>
		<key>avoid</key>
		<integer>0</integer>
		<key>dropTable</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>39</integer>
		<key>itemName</key>
		<string>魔極のドレス</string>
		<key>baseAttack</key>
		<integer>20</integer>
		<key>baseDefence</key>
		<integer>80</integer>
		<key>physical</key>
		<integer>0</integer>
		<key>fire</key>
		<integer>10</integer>
		<key>freeze</key>
		<integer>10</integer>
		<key>holy</key>
		<integer>30</integer>
		<key>dark</key>
		<integer>30</integer>
		<key>leech</key>
		<integer>5</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>avoid</key>
		<integer>15</integer>
		<key>dropTable</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>40</integer>
		<key>itemName</key>
		<string>破滅の杖</string>
		<key>baseAttack</key>
		<integer>100</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>-20</integer>
		<key>fire</key>
		<integer>30</integer>
		<key>freeze</key>
		<integer>30</integer>
		<key>holy</key>
		<integer>0</integer>
		<key>dark</key>
		<integer>30</integer>
		<key>leech</key>
		<integer>5</integer>
		<key>critical</key>
		<integer>15</integer>
		<key>avoid</key>
		<integer>5</integer>
		<key>dropTable</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>41</integer>
		<key>itemName</key>
		<string>黄金のティアラ</string>
		<key>baseAttack</key>
		<integer>0</integer>
		<key>baseDefence</key>
		<integer>0</integer>
		<key>physical</key>
		<integer>15</integer>
		<key>fire</key>
		<integer>15</integer>
		<key>freeze</key>
		<integer>15</integer>
		<key>holy</key>
		<integer>15</integer>
		<key>dark</key>
		<integer>15</integer>
		<key>leech</key>
		<integer>5</integer>
		<key>critical</key>
		<integer>20</integer>
		<key>avoid</key>
		<integer>20</integer>
		<key>dropTable</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>itemNameID</key>
		<integer>42</integer>
		<key>itemName</key>
		<string>賢者の杖</string>
		<key>baseAttack</key>
		<integer>100</integer>
		<key>baseDefence</key>
		<integer>100</integer>
		<key>physical</key>
		<integer>30</integer>
		<key>fire</key>
		<integer>30</integer>
		<key>freeze</key>
		<integer>30</integer>
		<key>holy</key>
		<integer>30</integer>
		<key>dark</key>
		<integer>30</integer>
		<key>leech</key>
		<integer>7</integer>
		<key>critical</key>
		<integer>15</integer>
		<key>avoid</key>
		<integer>15</integer>
		<key>dropTable</key>
		<integer>8</integer>
	</dict>
</array>
</plist>
