<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maxLife</key>
	<integer>200</integer>
	<key>currentLife</key>
	<integer>200</integer>
	<key>baseAttack</key>
	<integer>50</integer>
	<key>baseDefence</key>
	<integer>50</integer>
	<key>level</key>
	<integer>1</integer>
	<key>exp</key>
	<integer>0</integer>
	<key>skillPoint</key>
	<integer>0</integer>
	<key>currentStage</key>
	<integer>0</integer>
	<key>maxStage</key>
	<integer>1</integer>
	<key>area1Degree</key>
	<integer>0</integer>
	<key>area2Degree</key>
	<integer>0</integer>
	<key>area3Degree</key>
	<integer>0</integer>
	<key>area4Degree</key>
	<integer>0</integer>
	<key>area5Degree</key>
	<integer>0</integer>
	<key>area6Degree</key>
	<integer>0</integer>
	<key>area7Degree</key>
	<integer>0</integer>
	<key>prologe1</key>
	<false/>
	<key>boss1Down</key>
	<false/>
	<key>endlogue1</key>
	<false/>
	<key>prologe2</key>
	<false/>
	<key>boss2Down</key>
	<false/>
	<key>endlogue2</key>
	<false/>
	<key>prologe3</key>
	<false/>
	<key>boss3Down</key>
	<false/>
	<key>endlogue3</key>
	<false/>
	<key>prologe4</key>
	<false/>
	<key>boss4Down</key>
	<false/>
	<key>endlogue4</key>
	<false/>
	<key>prologe5</key>
	<false/>
	<key>boss5Down</key>
	<false/>
	<key>endlogue5</key>
	<false/>
	<key>prologe6</key>
	<false/>
	<key>boss6Down</key>
	<false/>
	<key>endlogue6</key>
	<false/>
	<key>prologe7</key>
	<false/>
	<key>boss7Down</key>
	<false/>
	<key>endlogue7</key>
	<false/>
</dict>
</plist>
