<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>skillID</key>
		<integer>0</integer>
		<key>skillCategory</key>
		<string>summon</string>
		<key>attribute</key>
		<string>fire</string>
		<key>name</key>
		<string>焼き尽くす</string>
		<key>iconName</key>
		<string>燃焼</string>
		<key>icontext1</key>
		<string>焼き尽くす</string>
		<key>icontext2</key>
		<string></string>
		<key>description</key>
		<string>目視できる空間3立方メートルに摂氏1500度の炎熱を発生させる。危険なので子供は使っちゃ駄目よ。</string>
		<key>baseDamage</key>
		<integer>300</integer>
		<key>leveledDamageUp</key>
		<real>0.2</real>
		<key>attackTime</key>
		<integer>1</integer>
		<key>delay</key>
		<real>2.5</real>
		<key>SPDescription</key>
		<string>特になし</string>
	</dict>
	<dict>
		<key>skillID</key>
		<integer>1</integer>
		<key>skillCategory</key>
		<string>fire</string>
		<key>attribute</key>
		<string>fire</string>
		<key>name</key>
		<string>ウォールオブフレイムス</string>
		<key>iconName</key>
		<string>炎壁</string>
		<key>icontext1</key>
		<string>ウォールオブ</string>
		<key>icontext2</key>
		<string>フレイムス</string>
		<key>description</key>
		<string>高さ10mに及ぶ炎の壁を発生させる。炎熱に弱い生き物はもう近づくことはできない。</string>
		<key>baseDamage</key>
		<integer>300</integer>
		<key>leveledDamageUp</key>
		<real>0.1</real>
		<key>attackTime</key>
		<integer>1</integer>
		<key>delay</key>
		<integer>12</integer>
		<key>SPDescription</key>
		<string>焼き尽くすLV3以上を習得</string>
	</dict>
	<dict>
		<key>skillID</key>
		<integer>2</integer>
		<key>skillCategory</key>
		<string>fire</string>
		<key>attribute</key>
		<string>fire</string>
		<key>name</key>
		<string>メテオスウォーム</string>
		<key>iconName</key>
		<string>隕石</string>
		<key>icontext1</key>
		<string>メテオ</string>
		<key>icontext2</key>
		<string>スウォーム</string>
		<key>description</key>
		<string>目標に対して隕石群を衝突させる。マッハ50で摂氏10000度の塊に当たったらどうなるかわかる？</string>
		<key>baseDamage</key>
		<integer>300</integer>
		<key>leveledDamageUp</key>
		<real>0.4</real>
		<key>attackTime</key>
		<integer>3</integer>
		<key>delay</key>
		<integer>8</integer>
		<key>SPDescription</key>
		<string>ウォールオブフレイムスLV3以上を習得</string>
	</dict>
	<dict>
		<key>skillID</key>
		<integer>3</integer>
		<key>skillCategory</key>
		<string>freeze</string>
		<key>attribute</key>
		<string>freeze</string>
		<key>name</key>
		<string>氷の牢獄</string>
		<key>iconName</key>
		<string>氷牢</string>
		<key>icontext1</key>
		<string>氷の牢獄</string>
		<key>icontext2</key>
		<string></string>
		<key>description</key>
		<string>敵の周囲を瞬間的に凍結させる。とてもつめたい人ね。</string>
		<key>baseDamage</key>
		<integer>300</integer>
		<key>leveledDamageUp</key>
		<real>0.2</real>
		<key>attackTime</key>
		<integer>1</integer>
		<key>delay</key>
		<real>3</real>
		<key>SPDescription</key>
		<string>特になし</string>
	</dict>
	<dict>
		<key>skillID</key>
		<integer>4</integer>
		<key>skillCategory</key>
		<string>freeze</string>
		<key>attribute</key>
		<string>freeze</string>
		<key>name</key>
		<string>ブリザード</string>
		<key>iconName</key>
		<string>雹嵐</string>
		<key>icontext1</key>
		<string>ブリザード</string>
		<key>icontext2</key>
		<string></string>
		<key>description</key>
		<string>ボウリングボール並のバカでかい雹の吹き荒れる空間を形成する。</string>
		<key>baseDamage</key>
		<integer>300</integer>
		<key>leveledDamageUp</key>
		<real>0.1</real>
		<key>attackTime</key>
		<integer>1</integer>
		<key>delay</key>
		<integer>2</integer>
		<key>SPDescription</key>
		<string>氷の牢獄LV3以上を習得</string>
	</dict>
	<dict>
		<key>skillID</key>
		<integer>5</integer>
		<key>skillCategory</key>
		<string>freeze</string>
		<key>attribute</key>
		<string>freeze</string>
		<key>name</key>
		<string>テスタメント</string>
		<key>iconName</key>
		<string>絶凍</string>
		<key>icontext1</key>
		<string>テスタメント</string>
		<key>icontext2</key>
		<string></string>
		<key>description</key>
		<string>絶対零度の空間で分子運動すら停止させる。一定時間敵の動きを止める。</string>
		<key>baseDamage</key>
		<integer>300</integer>
		<key>leveledDamageUp</key>
		<real>0.3</real>
		<key>attackTime</key>
		<integer>1</integer>
		<key>delay</key>
		<integer>20</integer>
		<key>SPDescription</key>
		<string>ブリザードLV3以上を習得</string>
	</dict>
	<dict>
		<key>skillID</key>
		<integer>6</integer>
		<key>skillCategory</key>
		<string>summon</string>
		<key>attribute</key>
		<string>physical</string>
		<key>name</key>
		<string>ゴーレムの召喚</string>
		<key>iconName</key>
		<string>巨人</string>
		<key>icontext1</key>
		<string>ゴーレムの</string>
		<key>icontext2</key>
		<string>召喚</string>
		<key>description</key>
		<string>岩の巨人を生成し、悪を粉砕する。額の文字のEmethのEを削ると砂に帰ってしまう。</string>
		<key>baseDamage</key>
		<integer>300</integer>
		<key>leveledDamageUp</key>
		<real>0.3</real>
		<key>attackTime</key>
		<integer>1</integer>
		<key>delay</key>
		<integer>6</integer>
		<key>SPDescription</key>
		<string>特に無し</string>
	</dict>
	<dict>
		<key>skillID</key>
		<integer>7</integer>
		<key>skillCategory</key>
		<string>summon</string>
		<key>attribute</key>
		<string>physical</string>
		<key>name</key>
		<string>守護者の召喚</string>
		<key>iconName</key>
		<string>守護</string>
		<key>icontext1</key>
		<string>守護者の</string>
		<key>icontext2</key>
		<string>召喚</string>
		<key>description</key>
		<string>守護騎士を召喚する。持続時間はスキルレベルに比例する。</string>
		<key>baseDamage</key>
		<integer>300</integer>
		<key>leveledDamageUp</key>
		<real>0.5</real>
		<key>attackTime</key>
		<integer>5</integer>
		<key>delay</key>
		<integer>4</integer>
		<key>SPDescription</key>
		<string>特に無し</string>
	</dict>
	<dict>
		<key>skillID</key>
		<integer>8</integer>
		<key>skillCategory</key>
		<string>summon</string>
		<key>attribute</key>
		<string>physical</string>
		<key>name</key>
		<string>舞う剣の召喚</string>
		<key>iconName</key>
		<string>舞剣</string>
		<key>icontext1</key>
		<string>舞う剣の</string>
		<key>icontext2</key>
		<string>召喚</string>
		<key>description</key>
		<string>8本の舞い踊る剣を召喚する。ズタズタにされた雑魚が転がっていた。</string>
		<key>baseDamage</key>
		<integer>300</integer>
		<key>leveledDamageUp</key>
		<real>0.4</real>
		<key>attackTime</key>
		<integer>1</integer>
		<key>delay</key>
		<integer>7</integer>
		<key>SPDescription</key>
		<string>ゴーレムの召喚LV3以上を習得</string>
	</dict>
	<dict>
		<key>skillID</key>
		<integer>9</integer>
		<key>skillCategory</key>
		<string>holy</string>
		<key>attribute</key>
		<string>holy</string>
		<key>name</key>
		<string>ヒーリング</string>
		<key>iconName</key>
		<string>治癒</string>
		<key>icontext1</key>
		<string>ヒーリング</string>
		<key>icontext2</key>
		<string></string>
		<key>description</key>
		<string>身体の治癒能力を飛躍的に増大させる。骨折程度ならものの数秒で完治できるね。</string>
		<key>baseDamage</key>
		<integer>300</integer>
		<key>leveledDamageUp</key>
		<real>0.3</real>
		<key>attackTime</key>
		<integer>1</integer>
		<key>delay</key>
		<integer>6</integer>
		<key>SPDescription</key>
		<string>特になし</string>
	</dict>
	<dict>
		<key>skillID</key>
		<integer>10</integer>
		<key>skillCategory</key>
		<string>holy</string>
		<key>attribute</key>
		<string>holy</string>
		<key>name</key>
		<string>結界展開</string>
		<key>iconName</key>
		<string>結界</string>
		<key>icontext1</key>
		<string>結界展開</string>
		<key>icontext2</key>
		<string></string>
		<key>description</key>
		<string>短時間ながら結界を展開し、あらゆる攻撃を無効化する</string>
		<key>baseDamage</key>
		<integer>300</integer>
		<key>leveledDamageUp</key>
		<real>0.3</real>
		<key>attackTime</key>
		<integer>1</integer>
		<key>delay</key>
		<integer>6</integer>
		<key>SPDescription</key>
		<string>ヒーリングLV3以上を習得</string>
	</dict>
	<dict>
		<key>skillID</key>
		<integer>11</integer>
		<key>skillCategory</key>
		<string>holy</string>
		<key>attribute</key>
		<string>holy</string>
		<key>name</key>
		<string>光王の威光</string>
		<key>iconName</key>
		<string>光王</string>
		<key>icontext1</key>
		<string>光王の威光</string>
		<key>icontext2</key>
		<string></string>
		<key>description</key>
		<string>神となった王の加護を得る。敵意を持つものは蒸発させ、祈るものには祝福を与える。</string>
		<key>baseDamage</key>
		<integer>300</integer>
		<key>leveledDamageUp</key>
		<real>0.2</real>
		<key>attackTime</key>
		<integer>1</integer>
		<key>delay</key>
		<integer>6</integer>
		<key>SPDescription</key>
		<string>特になし</string>
	</dict>
	<dict>
		<key>skillID</key>
		<integer>12</integer>
		<key>skillCategory</key>
		<string>dark</string>
		<key>attribute</key>
		<string>dark</string>
		<key>name</key>
		<string>ペイン</string>
		<key>iconName</key>
		<string>苦痛</string>
		<key>icontext1</key>
		<string>ペイン</string>
		<key>icontext2</key>
		<string></string>
		<key>description</key>
		<string>脳に苦痛の信号を与えて狂わせる。結構えげつない。</string>
		<key>baseDamage</key>
		<integer>300</integer>
		<key>leveledDamageUp</key>
		<real>0.2</real>
		<key>attackTime</key>
		<integer>1</integer>
		<key>delay</key>
		<integer>6</integer>
		<key>SPDescription</key>
		<string>特になし</string>
	</dict>
	<dict>
		<key>skillID</key>
		<integer>13</integer>
		<key>skillCategory</key>
		<string>dark</string>
		<key>attribute</key>
		<string>dark</string>
		<key>name</key>
		<string>ダーククラウド</string>
		<key>iconName</key>
		<string>闇雲</string>
		<key>icontext1</key>
		<string>ダーク</string>
		<key>icontext2</key>
		<string>クラウド</string>
		<key>description</key>
		<string>暗黒の雲が周囲に張り出し、生命を奪う。</string>
		<key>baseDamage</key>
		<integer>300</integer>
		<key>leveledDamageUp</key>
		<real>0.1</real>
		<key>attackTime</key>
		<integer>1</integer>
		<key>delay</key>
		<integer>10</integer>
		<key>SPDescription</key>
		<string>ペインLV3以上習得</string>
	</dict>
	<dict>
		<key>skillID</key>
		<integer>14</integer>
		<key>skillCategory</key>
		<string>dark</string>
		<key>attribute</key>
		<string>dark</string>
		<key>name</key>
		<string>ゴーストスポイル</string>
		<key>iconName</key>
		<string>魂腐</string>
		<key>icontext1</key>
		<string>ゴースト</string>
		<key>icontext2</key>
		<string>スポイル</string>
		<key>description</key>
		<string>呪い状態にする。呪われた者は防御力が著しく低下する。</string>
		<key>baseDamage</key>
		<integer>300</integer>
		<key>leveledDamageUp</key>
		<real>0.2</real>
		<key>attackTime</key>
		<integer>1</integer>
		<key>delay</key>
		<integer>14</integer>
		<key>SPDescription</key>
		<string>ダーククラウドLV3以上を習得</string>
	</dict>
</array>
</plist>
